<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="product.pictureUrl" alt="..."></div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through me-sm-2">{{product.price+10|currency}}</span>
          <span>{{product.price|currency}}</span>
        </div>
        <p class="lead">{{product.description}}</p>
        <div class="d-flex">
          <i (click)="decrementItemBasket()" class="fa fa-minus-circle text-warning me-2"
            style="cursor: pointer; font-size: 2em;"></i>
          <input class="form-control text-center" #inputQuantity type="number" (blur)="onBlur()" value="1"
            style="max-width: 3rem">
          <i (click)="incrementItemBasket()" class="fa fa-plus-circle text-warning mx-2"
            style="cursor: pointer; font-size: 2em;"></i>
          <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="onAddToCart()">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
