<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a [routerLink]="['']" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="./images/logo.png" alt="logo" srcset="">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 gap-2">
      <li><a class="nav-link px-2" [routerLink]="['']">Home</a></li>
      <li><a class="nav-link px-2" [routerLink]="['/shop']">Shop</a></li>
      <li><a class="nav-link px-2" [routerLink]="['/test-error']">Error</a></li>
      <li><a href="#" class="nav-link px-2">Contact</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end d-flex justify-content-center gap-2" style="height: 50px;">
      <div style="position: relative;" class="d-flex justify-content-center align-items-center">
        <a class="nav-link d-inline me-4" style="color: #795CB5;" [routerLink]="['/basket']"><i
            class="fa-solid fa-cart-shopping"></i>
          <div class="count" *ngIf="(basket$|async) as basket">{{basket.basket.length}}</div>

        </a>
      </div>
      @if ((currentUser$|async)===null) {
      <ng-content>
        <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/account/login']">Login</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/account/register']">Sign-up</button>
      </ng-content>
      }
      @else {
      <ng-content >
        <div class="dropdown ml-3 mr-5" dropdown>
          <a style="margin-top: 6px; cursor: pointer;" dropdownToggle class="d-inline-block"><strong>
            Welcome {{(currentUser$|async)?.dispalyName}}
          </strong></a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor:pointer;" *dropdownMenu>
            <a class="dropdown-item d-flx align-items-center py-2" routerLink="/basket">
              <i class="fa fa-shopping-cart mr-3"></i>
              View Basket
            </a>
            <a class="dropdown-item d-flx align-items-center py-2" routerLink="/orders">
              <i class="fa fa-history mr-3"></i>
              View Orders
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-sign-out mr-3"></i>Logout
            </a>
          </div>

        </div>
      </ng-content>
      }
    </div>
  </header>
</div>
